@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@500&family=Montserrat:wght@500;700&display=swap');

html,
body {
  height: 100%;
}

html {
  display: table;
  width: 100%;


}

body {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background-color: var(--Cream);
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {

  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);

  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);

  --ff-montserrat: 'Montserrat', sans-serif;
  --ff-fraunces: 'Fraunces', serif;

}



.container {
  max-width: 600px;
  margin: 0 auto;
  font-family: var(--ff-montserrat);
  font-size: 14px;
}

.block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  overflow: hidden;
  padding: 10px;


}

.block-hero-img {
  width: 300px;
  height: 30rem;
  background-image: url(/resources/images/image-product-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem 0rem 0rem 0.5rem;


}

.block-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  padding: 1rem 2rem;
  background-color: var(--White);
  border-radius: 0rem 0.5rem 0.5rem 0rem;


}

.block-cart h1 {
  text-transform: uppercase;
  color: var(--Dark-grayish-blue);
  letter-spacing: 0.3rem;
  font-size: 12px;
  font-weight: 500;

}

.block-cart h2 {
  font-family: var(--ff-fraunces);
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  color: var(--Very-dark-blue);
}

.block-cart p {
  color: var(--Dark-grayish-blue);
  font-size: 14px;
  line-height: 1.5;
}

.block-cart h3 {
  font-size: 32px;
  color: var(--Dark-cyan);
  font-family: var(--ff-fraunces);

}

span {
  color: var(--Dark-grayish-blue);
  text-decoration: line-through;
  font-size: 14px;
}

.product-price {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 20px;
  align-items: center;

}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 3.3rem;
  text-align: center;
  font-weight: 700;
  color: var(--White);
  background-color: var(--Dark-cyan);
  border-radius: 0.3rem;
  border: 0.1rem solid var(--Dark-cyan);
  cursor: pointer;
  width: 100%;

}

.btn:hover {
  background-color: var(--White);
  color: var(--Dark-cyan);
  border: 1px solid var(--Dark-cyan);
}



.attribution {
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

.attribution a {
  color: var(--Very-dark-blue);
  text-decoration: none;
}

.attribution a:hover {
  cursor: pointer;
  color: var(--Dark-cyan);

}

@media (max-width: 584px) {
  .block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;


  }

  .block-hero-img {
    height: 15rem;
    width: auto;
    background-image: url(/resources/images/image-product-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem 0.5rem 0rem 0rem;

  }

  .block-cart {
    border-radius: 0rem 0rem 0.5rem 0.5rem;
  }

}

@media (max-width: 320px) {

  .block-cart h2 {
   margin: 10px 0;
  }
  .btn {
    padding: 0.5rem 2.3rem;
  }
  span {
    padding-bottom: 5px;
  }


}
